<footer class="laoli-footer" style="{% if page.url == "/pages/responsibility" %}background: #171716;{% else %}background: {{ section.settings.footer-color }};{% endif %}">
    <div class="laoli-footer-logo-wrapper {% if page.url == "/pages/responsibility" %}hidden{% endif %}">
        <svg class="laoli-footer-logo" width="320" height="75" viewBox="0 0 320 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.85563 -3.05371C3.70055 -3.05371 4.65242 -2.83981 5.7059 -2.83981C8.24068 -2.83981 10.6685 -2.41737 14.8985 -2.41737C20.6044 -2.41737 24.091 -2.83981 25.9894 -2.83981C27.3638 -2.83981 27.7862 -2.62592 27.7862 -1.78103C27.7862 2.75891 19.8611 -3.15531 19.1231 9.62498C18.8076 16.1755 18.2782 52.6181 18.2782 53.7784V58.0029C18.2782 61.4894 19.0161 65.8208 20.8129 66.3502C23.1391 67.0881 23.7702 67.1951 25.3531 67.1951C59.0484 67.1951 55.1393 57.158 58.2035 57.158C58.8399 57.158 59.4709 57.6874 59.4709 58.9547C59.4709 65.2914 51.2302 72.7938 47.0056 72.7938C33.4868 72.7938 24.4012 71.735 17.9573 71.735C12.1498 71.735 9.93052 72.5799 4.75403 72.5799C2.64172 72.5799 1.68985 72.0505 1.68985 71.3126C1.68985 70.1522 2.85028 69.6228 3.3797 69.6228C3.80216 69.6228 4.96259 69.6228 6.44388 68.564C8.77009 66.7673 10.0375 64.0241 10.0375 47.8589V34.7631C10.0375 28.9558 10.353 23.0363 10.353 16.491C10.353 13.427 10.246 10.2613 10.1391 6.87641C9.92518 2.43807 5.70056 0.432797 1.58289 0.325849C0.101604 0.325849 0 -0.310493 0 -1.15538C0.00534762 -2.73287 2.0107 -3.05371 2.85563 -3.05371Z" fill="#FFFBF4"/>
            <path d="M180.839 -4C212.743 -4 220.77 20.0847 220.77 30.8597C220.77 60.5431 202.497 73.9544 179.363 73.9544C153.165 73.9544 139.962 55.4684 139.962 36.4584C139.957 13.7427 153.903 -4 180.839 -4ZM182.743 69.3075C194.47 69.3075 212.107 60.0137 212.107 40.5759C212.107 13.9566 195.839 0.224442 177.246 0.224442C163.09 0.224442 149.251 9.51822 149.251 31.0682C149.256 44.4849 158.866 69.3075 182.743 69.3075Z" fill="#FFFBF4"/>
            <path d="M228.627 -3.05371C229.472 -3.05371 230.424 -2.83981 231.477 -2.83981C234.012 -2.83981 236.44 -2.41737 240.67 -2.41737C246.376 -2.41737 249.862 -2.83981 251.761 -2.83981C253.135 -2.83981 253.558 -2.62592 253.558 -1.78103C253.558 2.75891 245.633 -3.15531 244.895 9.62498C244.579 16.1755 244.05 52.6181 244.05 53.7784V58.0029C244.05 61.4894 244.788 65.8208 246.584 66.3502C248.911 67.0881 249.542 67.1951 251.125 67.1951C284.82 67.1951 280.911 57.158 283.975 57.158C284.611 57.158 285.242 57.6874 285.242 58.9547C285.242 65.2914 277.002 72.7938 272.777 72.7938C259.258 72.7938 250.173 71.735 243.729 71.735C237.921 71.735 235.702 72.5799 230.526 72.5799C228.413 72.5799 227.461 72.0505 227.461 71.3126C227.461 70.1522 228.622 69.6228 229.151 69.6228C229.574 69.6228 230.734 69.6228 232.215 68.564C234.542 66.7673 235.809 64.0241 235.809 47.8589V34.7631C235.809 28.9558 236.124 23.0363 236.124 16.491C236.124 13.427 236.018 10.2613 235.911 6.87641C235.697 2.43807 231.472 0.432797 227.354 0.325849C225.873 0.325849 225.771 -0.310493 225.771 -1.15538C225.777 -2.73287 227.782 -3.05371 228.627 -3.05371Z" fill="#FFFBF4"/>
            <path d="M292.433 -2.7334C295.39 -2.7334 298.454 -2.31095 304.369 -2.31095C308.909 -2.31095 307.01 -2.52485 313.663 -2.52485C314.401 -2.52485 316.513 -2.4179 316.513 -1.04362C316.513 -0.0917819 314.716 0.539212 311.652 1.80655C308.695 2.96693 308.272 9.83298 308.272 13.9558C308.272 39.0405 307.957 42.666 307.957 53.04C307.957 59.4836 308.593 62.8631 310.599 65.8203C312.818 68.8843 314.615 69.0929 315.668 69.0929C315.984 69.0929 317.465 69.1998 317.78 69.1998C318.839 69.1998 320 69.8361 320 70.3602C320 72.05 319.155 72.2639 317.358 72.2639C311.652 72.2639 310.807 71.8414 307.321 71.8414C301.829 71.8414 299.502 72.3708 295.7 72.3708C291.369 72.3708 290.946 71.6329 290.946 70.788C290.946 67.9378 297.176 70.8949 298.764 64.0289C298.978 63.184 299.925 43.0083 299.925 35.8267V29.8055C299.925 26.7415 300.032 22.7309 300.032 18.3995V13.5387C300.032 10.7902 299.925 8.1539 299.609 5.82778C299.08 2.02578 294.647 0.544558 291.684 0.442957C289.572 0.336009 289.465 -0.615831 289.465 -1.13988C289.47 -1.88851 289.893 -2.7334 292.433 -2.7334Z" fill="#FFFBF4"/>
            <path d="M61.1703 69.7724C67.2987 67.4463 66.5554 65.334 97.9298 -1.42287C98.8817 -3.53509 99.4111 -3.85059 101.101 -3.85059C103.32 -3.85059 101.946 -3.6367 108.705 13.1541C113.668 25.405 128.566 59.9492 129.411 61.639C134.695 72.307 141.139 67.4463 141.139 71.2536C141.139 71.783 140.925 72.8364 138.288 72.8364C135.86 72.8364 131.737 72.2001 128.78 72.2001C124.978 72.2001 122.021 72.6226 118.957 72.6226C114.518 72.6226 113.887 72.4086 113.887 71.1413C113.887 68.8152 119.171 70.1895 119.171 66.1789C119.171 62.7994 114.31 50.1207 112.096 46.1101C111.673 45.2653 111.251 44.2706 107.764 44.3134C98.7053 44.4204 90.8656 45.7465 87.9993 46.8C80.7479 49.463 78.8496 53.5965 77.5982 55.4734C76.8175 56.6445 74.4912 61.1096 74.4912 64.0667C74.4912 71.3552 82.3095 67.9757 82.3095 71.2483C82.3095 72.0932 82.2025 72.7295 80.5126 72.7295C78.8228 72.7295 75.4431 72.6226 71.7426 72.6226C67.6249 72.6226 64.9832 73.045 62.657 73.045C60.7532 73.045 59.5928 72.8311 59.5928 71.7776C59.5928 70.7242 60.2184 70.0879 61.1703 69.7724ZM98.2881 39.1158C99.4807 39.0035 104.743 38.827 104.791 38.8216C107.54 38.8216 108.909 38.2922 108.909 37.1319C108.909 35.8645 99.1919 12.4162 97.1812 12.4162C96.0903 12.4162 83.8923 37.6131 80.1276 45.4471C79.9618 45.7947 80.4164 46.0994 80.6784 45.8214C84.3415 41.9873 87.502 40.1425 98.2881 39.1158Z" fill="#FFFBF4"/>
        </svg>
    </div>

    <div class="laoli-footer-info-wrapper">
        <div class="laoli-footer-info-background" style="{% if page.url == "/pages/responsibility" %}opacity: 0.2;{% endif %}"></div>
        <div class="laoli-footer-info">
            {% if page.url == "/pages/responsibility" %}
                <div class="laoli-footer-logo2">{% render 'footer-logo' %}</div>
            {% endif %}
            <div class="laoli-footer-cols">
              {% for link in linklists.footer.links %}
                <div class="laoli-footer-col">
                  {% for child_link  in link.links %}
                    <a href="{{ child_link.url }}" class="laoli-footer-link">{{child_link.title}}</a>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
            <div class="laoli-footer-controls">
                <div class="laoli-footer-switches">

                    <div class="laoli-footer-switch hidden">
                        <localization-form>
                          {% form 'localization' %}
                            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                            {% for language in localization.available_languages %}
                              <span data-language="{{ language.iso_code }}"
                                    class="language_switcher laoli-footer-switch__text cursor-pointer {% if language.iso_code == localization.language.iso_code %} laoli-footer--switch__text_active{% endif %}">{{ language.iso_code }}</span>
                              {% unless forloop.last %}
                                <span class="laoli-footer-switch__text">&#8201;|&#8201;</span>
                              {% endunless %}
                            {% endfor %}
                          {% endform %}
                        </localization-form>
                    </div>

                    <div class="laoli-footer-switch cursor-pointer js-region">
                        <span class="laoli-footer-switch__text laoli-footer--switch__text_active">{{ localization.country.name }}</span>
                    </div>
                </div>
                <div class="button-white-footer js-show-subscription">{{ section.settings.footer_button_title}}</div>
        </div>
    </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
      {
        "type": "color",
        "id": "footer-color",
        "label": "footer",
        "default": "#A09B8E"
      },
    {
      "type": "text",
      "id": "footer_button_title",
      "label": "footer button text",
      "default": "10% off first order"
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  // Immediately Invoked Function Expression to avoid global scope pollution
  (function() {
      // Function to create a cookie with a specific expiration in days
      function setCookie(name, value, days) {
          var expires = "";
          if (days) {
              var date = new Date();
              // Set expiration date to now plus the specified number of days
              date.setTime(date.getTime() + (days*24*60*60*1000));
              expires = "; expires=" + date.toUTCString();
          }
          // Set the cookie
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
      }

      // Function to retrieve a cookie value by name
      function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';'); // Split the cookies on semicolons
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              // Trim leading whitespace
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              // If the cookie name matches, return its value
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null; // Return null if not found
      }

      // Check if the cookie is already set to avoid repeated actions within 1 day
      if (!getCookie('subscriptionClicked')) {
          // Wait for 10 seconds before performing the click
          setTimeout(function() {
              // Find the div with the class 'js-show-subscription'
              var div = document.querySelector('.button-white-footer.js-show-subscription');
              if (div) {
                  // Simulate a click on the div
                  div.click();
                  // Set a cookie to remember this action for 1 day
                  setCookie('subscriptionClicked', 'true', 1);
                  console.log('Div clicked after 10 seconds and cookie set.');
              } else {
                  console.log('Div with class "js-show-subscription" not found.');
              }
          }, 10000); // 10000 milliseconds = 10 seconds
      } else {
          console.log('Action already performed within the last day.');
      }
  })();
</script>
