{% if section.settings.show_banner %}

    <div class="laoli-banner">

        <svg class="laoli-banner-close cursor-pointer" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8655 0.403846L13.4617 0L6.86552 6.59615L0.403846 0.134484L0 0.53833L6.46167 7L0.000122052 13.4615L0.403968 13.8654L6.86552 7.40385L13.4615 13.9999L13.8654 13.596L7.26936 7L13.8655 0.403846Z" fill="white"/>
        </svg>

        <div class="laoli-banner-inner">
            <div class="button-red-banner js-show-subscription">{{ section.settings.banner_button_text }}</div>
            <div class="laoli-banner-text">{{ section.settings.banner_text }}</div>
            <div class="button-red-banner js-show-subscription">{{ section.settings.banner_button_text }}</div>
        </div>
    </div>

{% endif %}

<div class="laoli-menu {% if page.url == "/pages/responsibility" %}laoli-menu-responsibilty{% endif %}">
    <div class="container laoli-menu-wrapper">
        <div class="laoli-menu-controls">

            <svg class="laoli-menu-controls-burger menu-burger js-menu-burger" width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.625" width="24" height="0.75" fill="#ffffff"/>
                <rect y="10.625" width="24" height="0.75" fill="#ffffff"/>
            </svg>

            <a href="/collections/all" class="laoli-menu-controls-text-left">{{ section.settings.menu_shop_title}}</a>

        </div>
        <a href="/" class="laoli-menu__logo">
            <svg width="122" height="30" viewBox="0 0 122 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:difference">
            <path d="M1.0887 0.5C1.41083 0.5 1.77373 0.581553 2.17536 0.581553C3.14174 0.581553 4.06734 0.742614 5.68001 0.742614C7.85538 0.742614 9.18466 0.581553 9.90842 0.581553C10.4324 0.581553 10.5934 0.663103 10.5934 0.985228C10.5934 2.71614 7.57199 0.461265 7.29064 5.33392C7.17035 7.83142 6.96851 21.7256 6.96851 22.168V23.7787C6.96851 25.1079 7.24986 26.7594 7.93489 26.9612C8.82175 27.2425 9.06233 27.2833 9.6658 27.2833C22.5121 27.2833 21.0218 23.4565 22.19 23.4565C22.4326 23.4565 22.6732 23.6584 22.6732 24.1416C22.6732 26.5575 19.5314 29.4179 17.9208 29.4179C12.7668 29.4179 9.3029 29.0142 6.84619 29.0142C4.63208 29.0142 3.78599 29.3364 1.81246 29.3364C1.00715 29.3364 0.64425 29.1345 0.64425 28.8532C0.64425 28.4108 1.08666 28.2089 1.2885 28.2089C1.44957 28.2089 1.89198 28.2089 2.45672 27.8052C3.34358 27.1202 3.82677 26.0743 3.82677 19.9111V14.9182C3.82677 12.7041 3.94706 10.4472 3.94706 7.95171C3.94706 6.78349 3.90628 5.57654 3.86551 4.286C3.78396 2.59382 2.17333 1.82928 0.603476 1.7885C0.0387364 1.7885 0 1.54589 0 1.22376C0.00203877 0.622327 0.766577 0.5 1.0887 0.5Z" fill="white"/>
            <path d="M68.9457 0.139648C81.109 0.139648 84.1692 9.32227 84.1692 13.4304C84.1692 24.7476 77.2027 29.8608 68.383 29.8608C58.3951 29.8608 53.3613 22.8128 53.3613 15.565C53.3593 6.90429 58.6764 0.139648 68.9457 0.139648ZM69.6715 28.0891C74.1425 28.0891 80.8664 24.5458 80.8664 17.1348C80.8664 6.98583 74.6644 1.75028 67.5756 1.75028C62.179 1.75028 56.9027 5.29366 56.9027 13.5099C56.9047 18.6252 60.5684 28.0891 69.6715 28.0891Z" fill="white"/>
            <path d="M87.1639 0.5C87.486 0.5 87.8489 0.581553 88.2506 0.581553C89.2169 0.581553 90.1425 0.742614 91.7552 0.742614C93.9306 0.742614 95.2598 0.581553 95.9836 0.581553C96.5076 0.581553 96.6686 0.663103 96.6686 0.985228C96.6686 2.71614 93.6472 0.461265 93.3658 5.33392C93.2455 7.83142 93.0437 21.7256 93.0437 22.168V23.7787C93.0437 25.1079 93.3251 26.7594 94.0101 26.9612C94.8969 27.2425 95.1375 27.2833 95.741 27.2833C108.587 27.2833 107.097 23.4565 108.265 23.4565C108.508 23.4565 108.748 23.6584 108.748 24.1416C108.748 26.5575 105.607 29.4179 103.996 29.4179C98.842 29.4179 95.3781 29.0142 92.9214 29.0142C90.7073 29.0142 89.8612 29.3364 87.8877 29.3364C87.0824 29.3364 86.7194 29.1345 86.7194 28.8532C86.7194 28.4108 87.1619 28.2089 87.3637 28.2089C87.5248 28.2089 87.9672 28.2089 88.5319 27.8052C89.4188 27.1202 89.902 26.0743 89.902 19.9111V14.9182C89.902 12.7041 90.0222 10.4472 90.0222 7.95171C90.0222 6.78349 89.9815 5.57654 89.9407 4.286C89.8592 2.59382 88.2485 1.82928 86.6787 1.7885C86.1139 1.7885 86.0752 1.54589 86.0752 1.22376C86.0772 0.622327 86.8418 0.5 87.1639 0.5Z" fill="white"/>
            <path d="M111.49 0.623047C112.617 0.623047 113.786 0.784111 116.04 0.784111C117.771 0.784111 117.048 0.702559 119.584 0.702559C119.865 0.702559 120.67 0.743335 120.67 1.2673C120.67 1.6302 119.985 1.87077 118.817 2.35396C117.69 2.79638 117.529 5.41415 117.529 6.98604C117.529 16.5499 117.408 17.9322 117.408 21.8874C117.408 24.3441 117.651 25.6326 118.416 26.7601C119.262 27.9283 119.947 28.0078 120.348 28.0078C120.469 28.0078 121.033 28.0486 121.154 28.0486C121.557 28.0486 122 28.2912 122 28.491C122 29.1352 121.678 29.2168 120.993 29.2168C118.817 29.2168 118.495 29.0557 117.166 29.0557C115.072 29.0557 114.185 29.2576 112.736 29.2576C111.084 29.2576 110.923 28.9762 110.923 28.6541C110.923 27.5674 113.298 28.6949 113.904 26.0771C113.985 25.755 114.346 18.0627 114.346 15.3246V13.029C114.346 11.8607 114.387 10.3317 114.387 8.68026V6.82702C114.387 5.77909 114.346 4.77398 114.226 3.88712C114.024 2.43755 112.334 1.87281 111.204 1.83408C110.399 1.7933 110.358 1.4304 110.358 1.2306C110.36 0.945172 110.521 0.623047 111.49 0.623047Z" fill="white"/>
            <path d="M23.3212 28.2661C25.6576 27.3792 25.3742 26.5739 37.3357 1.12189C37.6986 0.316575 37.9004 0.196289 38.5447 0.196289C39.3907 0.196289 38.8668 0.277837 41.4438 6.67957C43.3358 11.3504 49.0158 24.5208 49.3379 25.1651C51.3522 29.2324 53.8089 27.3792 53.8089 28.8308C53.8089 29.0326 53.7274 29.4343 52.7223 29.4343C51.7967 29.4343 50.2248 29.1917 49.0973 29.1917C47.6478 29.1917 46.5203 29.3527 45.3521 29.3527C43.6599 29.3527 43.4193 29.2712 43.4193 28.788C43.4193 27.9011 45.4337 28.4251 45.4337 26.896C45.4337 25.6075 43.5804 20.7736 42.7364 19.2445C42.5753 18.9224 42.4142 18.5432 41.085 18.5595C37.6313 18.6003 34.6424 19.1059 33.5497 19.5075C30.7851 20.5228 30.0613 22.0988 29.5843 22.8144C29.2866 23.2609 28.3997 24.9633 28.3997 26.0907C28.3997 28.8695 31.3804 27.581 31.3804 28.8288C31.3804 29.1509 31.3396 29.3935 30.6954 29.3935C30.0511 29.3935 28.7626 29.3527 27.3518 29.3527C25.782 29.3527 24.7748 29.5138 23.8879 29.5138C23.1621 29.5138 22.7197 29.4322 22.7197 29.0306C22.7197 28.629 22.9583 28.3863 23.3212 28.2661ZM37.4723 16.5778C37.9269 16.535 39.9331 16.4677 39.9514 16.4657C40.9993 16.4657 41.5213 16.2638 41.5213 15.8214C41.5213 15.3382 37.8168 6.39822 37.0502 6.39822C36.6343 6.39822 31.9839 16.0049 30.5486 18.9917C30.4854 19.1242 30.6587 19.2404 30.7586 19.1344C32.1551 17.6726 33.3601 16.9692 37.4723 16.5778Z" fill="white"/>
            </g>
            </svg>
        </a>
        <a href="/" class="laoli-menu__logo_centred">
            <svg width="122" height="30" viewBox="0 0 122 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:difference">
            <path d="M1.0887 0.5C1.41083 0.5 1.77373 0.581553 2.17536 0.581553C3.14174 0.581553 4.06734 0.742614 5.68001 0.742614C7.85538 0.742614 9.18466 0.581553 9.90842 0.581553C10.4324 0.581553 10.5934 0.663103 10.5934 0.985228C10.5934 2.71614 7.57199 0.461265 7.29064 5.33392C7.17035 7.83142 6.96851 21.7256 6.96851 22.168V23.7787C6.96851 25.1079 7.24986 26.7594 7.93489 26.9612C8.82175 27.2425 9.06233 27.2833 9.6658 27.2833C22.5121 27.2833 21.0218 23.4565 22.19 23.4565C22.4326 23.4565 22.6732 23.6584 22.6732 24.1416C22.6732 26.5575 19.5314 29.4179 17.9208 29.4179C12.7668 29.4179 9.3029 29.0142 6.84619 29.0142C4.63208 29.0142 3.78599 29.3364 1.81246 29.3364C1.00715 29.3364 0.64425 29.1345 0.64425 28.8532C0.64425 28.4108 1.08666 28.2089 1.2885 28.2089C1.44957 28.2089 1.89198 28.2089 2.45672 27.8052C3.34358 27.1202 3.82677 26.0743 3.82677 19.9111V14.9182C3.82677 12.7041 3.94706 10.4472 3.94706 7.95171C3.94706 6.78349 3.90628 5.57654 3.86551 4.286C3.78396 2.59382 2.17333 1.82928 0.603476 1.7885C0.0387364 1.7885 0 1.54589 0 1.22376C0.00203877 0.622327 0.766577 0.5 1.0887 0.5Z" fill="white"/>
            <path d="M68.9457 0.139648C81.109 0.139648 84.1692 9.32227 84.1692 13.4304C84.1692 24.7476 77.2027 29.8608 68.383 29.8608C58.3951 29.8608 53.3613 22.8128 53.3613 15.565C53.3593 6.90429 58.6764 0.139648 68.9457 0.139648ZM69.6715 28.0891C74.1425 28.0891 80.8664 24.5458 80.8664 17.1348C80.8664 6.98583 74.6644 1.75028 67.5756 1.75028C62.179 1.75028 56.9027 5.29366 56.9027 13.5099C56.9047 18.6252 60.5684 28.0891 69.6715 28.0891Z" fill="white"/>
            <path d="M87.1639 0.5C87.486 0.5 87.8489 0.581553 88.2506 0.581553C89.2169 0.581553 90.1425 0.742614 91.7552 0.742614C93.9306 0.742614 95.2598 0.581553 95.9836 0.581553C96.5076 0.581553 96.6686 0.663103 96.6686 0.985228C96.6686 2.71614 93.6472 0.461265 93.3658 5.33392C93.2455 7.83142 93.0437 21.7256 93.0437 22.168V23.7787C93.0437 25.1079 93.3251 26.7594 94.0101 26.9612C94.8969 27.2425 95.1375 27.2833 95.741 27.2833C108.587 27.2833 107.097 23.4565 108.265 23.4565C108.508 23.4565 108.748 23.6584 108.748 24.1416C108.748 26.5575 105.607 29.4179 103.996 29.4179C98.842 29.4179 95.3781 29.0142 92.9214 29.0142C90.7073 29.0142 89.8612 29.3364 87.8877 29.3364C87.0824 29.3364 86.7194 29.1345 86.7194 28.8532C86.7194 28.4108 87.1619 28.2089 87.3637 28.2089C87.5248 28.2089 87.9672 28.2089 88.5319 27.8052C89.4188 27.1202 89.902 26.0743 89.902 19.9111V14.9182C89.902 12.7041 90.0222 10.4472 90.0222 7.95171C90.0222 6.78349 89.9815 5.57654 89.9407 4.286C89.8592 2.59382 88.2485 1.82928 86.6787 1.7885C86.1139 1.7885 86.0752 1.54589 86.0752 1.22376C86.0772 0.622327 86.8418 0.5 87.1639 0.5Z" fill="white"/>
            <path d="M111.49 0.623047C112.617 0.623047 113.786 0.784111 116.04 0.784111C117.771 0.784111 117.048 0.702559 119.584 0.702559C119.865 0.702559 120.67 0.743335 120.67 1.2673C120.67 1.6302 119.985 1.87077 118.817 2.35396C117.69 2.79638 117.529 5.41415 117.529 6.98604C117.529 16.5499 117.408 17.9322 117.408 21.8874C117.408 24.3441 117.651 25.6326 118.416 26.7601C119.262 27.9283 119.947 28.0078 120.348 28.0078C120.469 28.0078 121.033 28.0486 121.154 28.0486C121.557 28.0486 122 28.2912 122 28.491C122 29.1352 121.678 29.2168 120.993 29.2168C118.817 29.2168 118.495 29.0557 117.166 29.0557C115.072 29.0557 114.185 29.2576 112.736 29.2576C111.084 29.2576 110.923 28.9762 110.923 28.6541C110.923 27.5674 113.298 28.6949 113.904 26.0771C113.985 25.755 114.346 18.0627 114.346 15.3246V13.029C114.346 11.8607 114.387 10.3317 114.387 8.68026V6.82702C114.387 5.77909 114.346 4.77398 114.226 3.88712C114.024 2.43755 112.334 1.87281 111.204 1.83408C110.399 1.7933 110.358 1.4304 110.358 1.2306C110.36 0.945172 110.521 0.623047 111.49 0.623047Z" fill="white"/>
            <path d="M23.3212 28.2661C25.6576 27.3792 25.3742 26.5739 37.3357 1.12189C37.6986 0.316575 37.9004 0.196289 38.5447 0.196289C39.3907 0.196289 38.8668 0.277837 41.4438 6.67957C43.3358 11.3504 49.0158 24.5208 49.3379 25.1651C51.3522 29.2324 53.8089 27.3792 53.8089 28.8308C53.8089 29.0326 53.7274 29.4343 52.7223 29.4343C51.7967 29.4343 50.2248 29.1917 49.0973 29.1917C47.6478 29.1917 46.5203 29.3527 45.3521 29.3527C43.6599 29.3527 43.4193 29.2712 43.4193 28.788C43.4193 27.9011 45.4337 28.4251 45.4337 26.896C45.4337 25.6075 43.5804 20.7736 42.7364 19.2445C42.5753 18.9224 42.4142 18.5432 41.085 18.5595C37.6313 18.6003 34.6424 19.1059 33.5497 19.5075C30.7851 20.5228 30.0613 22.0988 29.5843 22.8144C29.2866 23.2609 28.3997 24.9633 28.3997 26.0907C28.3997 28.8695 31.3804 27.581 31.3804 28.8288C31.3804 29.1509 31.3396 29.3935 30.6954 29.3935C30.0511 29.3935 28.7626 29.3527 27.3518 29.3527C25.782 29.3527 24.7748 29.5138 23.8879 29.5138C23.1621 29.5138 22.7197 29.4322 22.7197 29.0306C22.7197 28.629 22.9583 28.3863 23.3212 28.2661ZM37.4723 16.5778C37.9269 16.535 39.9331 16.4677 39.9514 16.4657C40.9993 16.4657 41.5213 16.2638 41.5213 15.8214C41.5213 15.3382 37.8168 6.39822 37.0502 6.39822C36.6343 6.39822 31.9839 16.0049 30.5486 18.9917C30.4854 19.1242 30.6587 19.2404 30.7586 19.1344C32.1551 17.6726 33.3601 16.9692 37.4723 16.5778Z" fill="white"/>
            </g>
            </svg>
        </a>

        <div class="laoli-menu-controls">
            <!-- <div href="" class="laoli-menu-controls-text-right laoli-menu-controls-search">{{ section.settings.menu_search_title}}</div> -->
             <form action="{{ routes.search_url }}" class="laoli-menu__item-submit-form" autocomplete="off">
              <input type="text"
                id="desktop-search"
                placeholder="Search"
                name="q"
                value=""
                class="laoli-menu__item-submit-input"
              />
              <input type="hidden" name="type" value="product,page" />
              <input type="hidden" name="options[unavailable_products]" value="hide" />
              <input type="hidden" name="options[prefix]" value="last" />
              <button type="submit" value="Search" class="laoli-menu__item-submit">
                  <svg width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.2" d="M2.34 0.0319996H3.456L5.625 2.201L3.456 4.397H2.34L3.258 3.47L4.239 2.552L2.88 2.597H0.225V1.805H2.88L4.23 1.85L3.231 0.923L2.34 0.0319996Z" fill="#ffffff"/>
                  </svg>
              </button>
              <div class="laoli-menu__item-submit-bar"></div>
            </form>

            <div class="laoli-menu-controls-text-right js-cart-button">{{ section.settings.menu_cart_title}}<span class="js-cart-count">{% if cart.item_count > 0 %} ({{ cart.item_count}}){% endif %}</span></div>
        </div>
        <div class="laoli-menu-mobile-wrapper">
            <div class="laoli-menu-mobile-cart js-cart-button">{{ section.settings.menu_cart_title}}</div>

            <svg class="laoli-menu-mobile-burger js-menu-burger" width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.625" width="24" height="0.75" fill="#FFFFFF"/>
                <rect y="10.625" width="24" height="0.75" fill="#FFFFFF"/>
            </svg>

        </div>
    </div>
    <div class="laoli-menu-inner" tabindex="-1" style="background: {{ section.settings.menu-color }};">
        <div class="container laoli-menu-wrapper laoli-menu-wrapper__inner">
            <div class="laoli-menu-controls">
                <svg class="cursor-pointer js-menu-close" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2081 1.25103L17.6777 0.720703L9.01562 9.38282L0.53033 0.897526L0 1.42786L8.48529 9.91315L6.36578e-05 18.3984L0.530394 18.9287L9.01562 10.4435L17.6777 19.1055L18.208 18.5752L9.54595 9.91315L18.2081 1.25103Z" fill="white"/>
                </svg>
            </div>
            <a href="/" class="laoli-menu__logo laoli-menu__logo__white">
                <svg width="122" height="30" viewBox="0 0 122 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g style="mix-blend-mode:difference">
                <path d="M1.0887 0.5C1.41083 0.5 1.77373 0.581553 2.17536 0.581553C3.14174 0.581553 4.06734 0.742614 5.68001 0.742614C7.85538 0.742614 9.18466 0.581553 9.90842 0.581553C10.4324 0.581553 10.5934 0.663103 10.5934 0.985228C10.5934 2.71614 7.57199 0.461265 7.29064 5.33392C7.17035 7.83142 6.96851 21.7256 6.96851 22.168V23.7787C6.96851 25.1079 7.24986 26.7594 7.93489 26.9612C8.82175 27.2425 9.06233 27.2833 9.6658 27.2833C22.5121 27.2833 21.0218 23.4565 22.19 23.4565C22.4326 23.4565 22.6732 23.6584 22.6732 24.1416C22.6732 26.5575 19.5314 29.4179 17.9208 29.4179C12.7668 29.4179 9.3029 29.0142 6.84619 29.0142C4.63208 29.0142 3.78599 29.3364 1.81246 29.3364C1.00715 29.3364 0.64425 29.1345 0.64425 28.8532C0.64425 28.4108 1.08666 28.2089 1.2885 28.2089C1.44957 28.2089 1.89198 28.2089 2.45672 27.8052C3.34358 27.1202 3.82677 26.0743 3.82677 19.9111V14.9182C3.82677 12.7041 3.94706 10.4472 3.94706 7.95171C3.94706 6.78349 3.90628 5.57654 3.86551 4.286C3.78396 2.59382 2.17333 1.82928 0.603476 1.7885C0.0387364 1.7885 0 1.54589 0 1.22376C0.00203877 0.622327 0.766577 0.5 1.0887 0.5Z" fill="white"/>
                <path d="M68.9457 0.139648C81.109 0.139648 84.1692 9.32227 84.1692 13.4304C84.1692 24.7476 77.2027 29.8608 68.383 29.8608C58.3951 29.8608 53.3613 22.8128 53.3613 15.565C53.3593 6.90429 58.6764 0.139648 68.9457 0.139648ZM69.6715 28.0891C74.1425 28.0891 80.8664 24.5458 80.8664 17.1348C80.8664 6.98583 74.6644 1.75028 67.5756 1.75028C62.179 1.75028 56.9027 5.29366 56.9027 13.5099C56.9047 18.6252 60.5684 28.0891 69.6715 28.0891Z" fill="white"/>
                <path d="M87.1639 0.5C87.486 0.5 87.8489 0.581553 88.2506 0.581553C89.2169 0.581553 90.1425 0.742614 91.7552 0.742614C93.9306 0.742614 95.2598 0.581553 95.9836 0.581553C96.5076 0.581553 96.6686 0.663103 96.6686 0.985228C96.6686 2.71614 93.6472 0.461265 93.3658 5.33392C93.2455 7.83142 93.0437 21.7256 93.0437 22.168V23.7787C93.0437 25.1079 93.3251 26.7594 94.0101 26.9612C94.8969 27.2425 95.1375 27.2833 95.741 27.2833C108.587 27.2833 107.097 23.4565 108.265 23.4565C108.508 23.4565 108.748 23.6584 108.748 24.1416C108.748 26.5575 105.607 29.4179 103.996 29.4179C98.842 29.4179 95.3781 29.0142 92.9214 29.0142C90.7073 29.0142 89.8612 29.3364 87.8877 29.3364C87.0824 29.3364 86.7194 29.1345 86.7194 28.8532C86.7194 28.4108 87.1619 28.2089 87.3637 28.2089C87.5248 28.2089 87.9672 28.2089 88.5319 27.8052C89.4188 27.1202 89.902 26.0743 89.902 19.9111V14.9182C89.902 12.7041 90.0222 10.4472 90.0222 7.95171C90.0222 6.78349 89.9815 5.57654 89.9407 4.286C89.8592 2.59382 88.2485 1.82928 86.6787 1.7885C86.1139 1.7885 86.0752 1.54589 86.0752 1.22376C86.0772 0.622327 86.8418 0.5 87.1639 0.5Z" fill="white"/>
                <path d="M111.49 0.623047C112.617 0.623047 113.786 0.784111 116.04 0.784111C117.771 0.784111 117.048 0.702559 119.584 0.702559C119.865 0.702559 120.67 0.743335 120.67 1.2673C120.67 1.6302 119.985 1.87077 118.817 2.35396C117.69 2.79638 117.529 5.41415 117.529 6.98604C117.529 16.5499 117.408 17.9322 117.408 21.8874C117.408 24.3441 117.651 25.6326 118.416 26.7601C119.262 27.9283 119.947 28.0078 120.348 28.0078C120.469 28.0078 121.033 28.0486 121.154 28.0486C121.557 28.0486 122 28.2912 122 28.491C122 29.1352 121.678 29.2168 120.993 29.2168C118.817 29.2168 118.495 29.0557 117.166 29.0557C115.072 29.0557 114.185 29.2576 112.736 29.2576C111.084 29.2576 110.923 28.9762 110.923 28.6541C110.923 27.5674 113.298 28.6949 113.904 26.0771C113.985 25.755 114.346 18.0627 114.346 15.3246V13.029C114.346 11.8607 114.387 10.3317 114.387 8.68026V6.82702C114.387 5.77909 114.346 4.77398 114.226 3.88712C114.024 2.43755 112.334 1.87281 111.204 1.83408C110.399 1.7933 110.358 1.4304 110.358 1.2306C110.36 0.945172 110.521 0.623047 111.49 0.623047Z" fill="white"/>
                <path d="M23.3212 28.2661C25.6576 27.3792 25.3742 26.5739 37.3357 1.12189C37.6986 0.316575 37.9004 0.196289 38.5447 0.196289C39.3907 0.196289 38.8668 0.277837 41.4438 6.67957C43.3358 11.3504 49.0158 24.5208 49.3379 25.1651C51.3522 29.2324 53.8089 27.3792 53.8089 28.8308C53.8089 29.0326 53.7274 29.4343 52.7223 29.4343C51.7967 29.4343 50.2248 29.1917 49.0973 29.1917C47.6478 29.1917 46.5203 29.3527 45.3521 29.3527C43.6599 29.3527 43.4193 29.2712 43.4193 28.788C43.4193 27.9011 45.4337 28.4251 45.4337 26.896C45.4337 25.6075 43.5804 20.7736 42.7364 19.2445C42.5753 18.9224 42.4142 18.5432 41.085 18.5595C37.6313 18.6003 34.6424 19.1059 33.5497 19.5075C30.7851 20.5228 30.0613 22.0988 29.5843 22.8144C29.2866 23.2609 28.3997 24.9633 28.3997 26.0907C28.3997 28.8695 31.3804 27.581 31.3804 28.8288C31.3804 29.1509 31.3396 29.3935 30.6954 29.3935C30.0511 29.3935 28.7626 29.3527 27.3518 29.3527C25.782 29.3527 24.7748 29.5138 23.8879 29.5138C23.1621 29.5138 22.7197 29.4322 22.7197 29.0306C22.7197 28.629 22.9583 28.3863 23.3212 28.2661ZM37.4723 16.5778C37.9269 16.535 39.9331 16.4677 39.9514 16.4657C40.9993 16.4657 41.5213 16.2638 41.5213 15.8214C41.5213 15.3382 37.8168 6.39822 37.0502 6.39822C36.6343 6.39822 31.9839 16.0049 30.5486 18.9917C30.4854 19.1242 30.6587 19.2404 30.7586 19.1344C32.1551 17.6726 33.3601 16.9692 37.4723 16.5778Z" fill="white"/>
                </g>
                </svg>
            </a>
            <div class="laoli-menu-controls">
                <div class="laoli-menu-controls-text-right laoli-menu-controls-text__white js-cart-button">{{ section.settings.menu_cart_title}}<span class="js-cart-count">{% if cart.item_count > 0 %} ({{ cart.item_count}}){% endif %}</span></div>
            </div>
            <div class="laoli-menu-mobile-wrapper">
                <div class="laoli-menu-mobile-cart laoli-menu-controls-text__white js-cart-button">{{ section.settings.menu_cart_title}}</div>

                <svg class="js-menu-close" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0001 1.1983L18.4697 0.667969L9.80761 9.33008L1.32232 0.844792L0.791992 1.37512L9.27728 9.86041L0.792056 18.3456L1.32239 18.876L9.80761 10.3907L18.4697 19.0528L19 18.5225L10.3379 9.86041L19.0001 1.1983Z" fill="white"/>
                </svg>

            </div>
        </div>
        <div class="laoli-menu-content-mobile">
            <div class="laoli-menu-content-mobile-cols">
                <div class="laoli-menu-content-mobile-col">
                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links.first.title }}</div>
                        {% for link in linklists.main-menu.links.first.links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="laoli-menu-content-mobile-col">
                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links[1].title }}</div>
                        {% for link in linklists.main-menu.links[1].links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>

                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links[2].title }}</div>
                        {% for link in linklists.main-menu.links[2].links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="laoli-menu-content-mobile-cols2">
                 <form action="{{ routes.search_url }}" class="laoli-menu__item-submit-form laoli-menu-content-mobile-search" autocomplete="off">
                  <input type="text"
                    id="desktop-search"
                    placeholder="Search"
                    name="q"
                    value=""
                    class="laoli-menu__item-submit-input"
                  />
                  <input type="hidden" name="type" value="product,page" />
                  <input type="hidden" name="options[unavailable_products]" value="hide" />
                  <input type="hidden" name="options[prefix]" value="last" />
                  <button type="submit" value="Search" class="laoli-menu__item-submit">
                      <svg width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M2.34 0.0319996H3.456L5.625 2.201L3.456 4.397H2.34L3.258 3.47L4.239 2.552L2.88 2.597H0.225V1.805H2.88L4.23 1.85L3.231 0.923L2.34 0.0319996Z" fill="#ffffff"/>
                      </svg>
                  </button>
                  <div class="laoli-menu__item-submit-bar"></div>
                </form>
                <div class="laoli-menu-content-mobile-row">

                    <div class="laoli-menu-content-mobile-switch">
                        <localization-form>
                          {% form 'localization' %}
                            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                            {% for language in localization.available_languages %}
                              <span data-language="{{ language.iso_code }}"
                                    class="language_switcher laoli-menu-content-mobile-switch__text cursor-pointer {% if language.iso_code == localization.language.iso_code %} laoli-menu-content-mobile-switch__text_active{% endif %}">{{ language.iso_code }}</span>
                              {% unless forloop.last %}
                                <span class="laoli-menu-content-mobile-switch__text">&#8201;|&#8201;</span>
                              {% endunless %}
                            {% endfor %}
                          {% endform %}
                        </localization-form>
                    </div>

                    <div class="laoli-menu-content-mobile-switch cursor-pointer js-region">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">{{ localization.country.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="laoli-menu-content-desktop container">
            <div class="laoli-menu-content-cols">
              {% for link in linklists.main-menu.links %}
                <div class="laoli-menu-content-col">
                    <div class="laoli-menu-content-title">{{link.title}}</div>
                    {% for child_link  in link.links %}
                      <a href="{{ child_link.url }}" class="laoli-menu-content-link">{{child_link.title}}</a>
                    {% endfor %}
                </div>
              {% endfor %}

                <div class="laoli-menu-content-col laoli-menu-content-col2">

                    <div class="laoli-menu-content-mobile-switch">
                        <localization-form>
                          {% form 'localization' %}
                            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                            {% for language in localization.available_languages %}
                              <span data-language="{{ language.iso_code }}"
                                    class="language_switcher laoli-menu-content-mobile-switch__text cursor-pointer {% if language.iso_code == localization.language.iso_code %} laoli-menu-content-mobile-switch__text_active{% endif %}">{{ language.iso_code }}</span>
                              {% unless forloop.last %}
                                <span class="laoli-menu-content-mobile-switch__text">&#8201;|&#8201;</span>
                              {% endunless %}
                            {% endfor %}
                          {% endform %}
                        </localization-form>
                    </div>




                    <div class="laoli-menu-content-mobile-switch cursor-pointer js-region">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">{{ localization.country.name }}</span>
                    </div>
                </div>
            </div>
            <div class="laoli-menu-content-pic-wrapper">
                <picture>
                  <source srcset="{{ section.settings.menu_image | img_url: '520x300', crop: 'center' }} 1x, {{ section.settings.menu_image | img_url: '1040x600', crop: 'center' }} 2x" media="(min-width: 1920px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '470x300', crop: 'center' }} 1x, {{ section.settings.menu_image | img_url: '940x600', crop: 'center' }} 2x" media="(min-width: 1440px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '300x300', crop: 'center' }} 1x, {{ section.settings.menu_image | img_url: '600x600', crop: 'center' }} 2x" media="(min-width: 1200px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '200x300', crop: 'center' }} 1x, {{ section.settings.menu_image | img_url: '400x600', crop: 'center' }} 2x" media="(min-width: 960px)" />
                  <img src="{{ section.settings.menu_image | img_url: '520x300', crop: 'center' }}" alt="" />
                </picture>
            </div>


        </div>
    </div>
</div>

{% if section.settings.show_banner %}
    <div class="laoli-banner laoli-banner-dummy">
    </div>
{% endif %}

<div class="laoli-cart-wrapper">

    <div class="laoli-cart">
        <svg class="laoli-cart-close cursor-pointer" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8655 0.403846L13.4617 0L6.86552 6.59615L0.403846 0.134484L0 0.53833L6.46167 7L0.000122052 13.4615L0.403968 13.8654L6.86552 7.40385L13.4615 13.9999L13.8654 13.596L7.26936 7L13.8655 0.403846Z" fill="#B82C36"/>
        </svg>
        <div class="laoli-cart-title">{{ section.settings.cart_title}}</div>

        <div class="laoli-cart-content laoli-cart-loading js-cart-loading">
            {% render 'loading' %}
        </div>

        <div class="laoli-cart-content js-cart-content">
            <div class="laoli-cart-items">
            </div>
            <div class="laoli-cart-footer">
                <div class="laoli-cart-footer-upperblock">
                    <div class="laoli-cart-footer-total">{{ section.settings.cart_total}}</div>
                    <div class="laoli-cart-footer-total js-cart-total"></div>
                </div>
                <div class="laoli-cart-footer-duration hidden">{{ section.settings.cart_delivery }}</div>
                <div class="button-red laoli-cart-footer-checkout js-cart-checkout">{{ section.settings.cart_checkout}}</div>
            </div>
        </div>

        <div class="laoli-cart-content laoli-cart-empty js-cart-empty">
            <div class="laoli-cart-empty-wrapper">
                <div class="laoli-cart-empty-text">{{ section.settings.cart_empty }}</div>
            </div>
        </div>
    </div>

</div>


<div class="laoli-menu laoli-menu-dummy {% if template == 'index' %}laoli-menu-dummy-homepage{% endif %} {% if page.url == "/pages/responsibility" %}hidden{% endif %}">
    <div class="container laoli-menu-wrapper">
        <div class="laoli-menu-controls">

            <svg class="laoli-menu-controls-burger menu-burger js-menu-burger" width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.625" width="24" height="0.75" fill="#ffffff"/>
                <rect y="10.625" width="24" height="0.75" fill="#ffffff"/>
            </svg>

            <a href="/collections/all" class="laoli-menu-controls-text-left">{{ section.settings.menu_shop_title}}</a>

        </div>
        <a href="/" class="laoli-menu__logo">
            <svg width="122" height="30" viewBox="0 0 122 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:difference">
            <path d="M1.0887 0.5C1.41083 0.5 1.77373 0.581553 2.17536 0.581553C3.14174 0.581553 4.06734 0.742614 5.68001 0.742614C7.85538 0.742614 9.18466 0.581553 9.90842 0.581553C10.4324 0.581553 10.5934 0.663103 10.5934 0.985228C10.5934 2.71614 7.57199 0.461265 7.29064 5.33392C7.17035 7.83142 6.96851 21.7256 6.96851 22.168V23.7787C6.96851 25.1079 7.24986 26.7594 7.93489 26.9612C8.82175 27.2425 9.06233 27.2833 9.6658 27.2833C22.5121 27.2833 21.0218 23.4565 22.19 23.4565C22.4326 23.4565 22.6732 23.6584 22.6732 24.1416C22.6732 26.5575 19.5314 29.4179 17.9208 29.4179C12.7668 29.4179 9.3029 29.0142 6.84619 29.0142C4.63208 29.0142 3.78599 29.3364 1.81246 29.3364C1.00715 29.3364 0.64425 29.1345 0.64425 28.8532C0.64425 28.4108 1.08666 28.2089 1.2885 28.2089C1.44957 28.2089 1.89198 28.2089 2.45672 27.8052C3.34358 27.1202 3.82677 26.0743 3.82677 19.9111V14.9182C3.82677 12.7041 3.94706 10.4472 3.94706 7.95171C3.94706 6.78349 3.90628 5.57654 3.86551 4.286C3.78396 2.59382 2.17333 1.82928 0.603476 1.7885C0.0387364 1.7885 0 1.54589 0 1.22376C0.00203877 0.622327 0.766577 0.5 1.0887 0.5Z" fill="white"/>
            <path d="M68.9457 0.139648C81.109 0.139648 84.1692 9.32227 84.1692 13.4304C84.1692 24.7476 77.2027 29.8608 68.383 29.8608C58.3951 29.8608 53.3613 22.8128 53.3613 15.565C53.3593 6.90429 58.6764 0.139648 68.9457 0.139648ZM69.6715 28.0891C74.1425 28.0891 80.8664 24.5458 80.8664 17.1348C80.8664 6.98583 74.6644 1.75028 67.5756 1.75028C62.179 1.75028 56.9027 5.29366 56.9027 13.5099C56.9047 18.6252 60.5684 28.0891 69.6715 28.0891Z" fill="white"/>
            <path d="M87.1639 0.5C87.486 0.5 87.8489 0.581553 88.2506 0.581553C89.2169 0.581553 90.1425 0.742614 91.7552 0.742614C93.9306 0.742614 95.2598 0.581553 95.9836 0.581553C96.5076 0.581553 96.6686 0.663103 96.6686 0.985228C96.6686 2.71614 93.6472 0.461265 93.3658 5.33392C93.2455 7.83142 93.0437 21.7256 93.0437 22.168V23.7787C93.0437 25.1079 93.3251 26.7594 94.0101 26.9612C94.8969 27.2425 95.1375 27.2833 95.741 27.2833C108.587 27.2833 107.097 23.4565 108.265 23.4565C108.508 23.4565 108.748 23.6584 108.748 24.1416C108.748 26.5575 105.607 29.4179 103.996 29.4179C98.842 29.4179 95.3781 29.0142 92.9214 29.0142C90.7073 29.0142 89.8612 29.3364 87.8877 29.3364C87.0824 29.3364 86.7194 29.1345 86.7194 28.8532C86.7194 28.4108 87.1619 28.2089 87.3637 28.2089C87.5248 28.2089 87.9672 28.2089 88.5319 27.8052C89.4188 27.1202 89.902 26.0743 89.902 19.9111V14.9182C89.902 12.7041 90.0222 10.4472 90.0222 7.95171C90.0222 6.78349 89.9815 5.57654 89.9407 4.286C89.8592 2.59382 88.2485 1.82928 86.6787 1.7885C86.1139 1.7885 86.0752 1.54589 86.0752 1.22376C86.0772 0.622327 86.8418 0.5 87.1639 0.5Z" fill="white"/>
            <path d="M111.49 0.623047C112.617 0.623047 113.786 0.784111 116.04 0.784111C117.771 0.784111 117.048 0.702559 119.584 0.702559C119.865 0.702559 120.67 0.743335 120.67 1.2673C120.67 1.6302 119.985 1.87077 118.817 2.35396C117.69 2.79638 117.529 5.41415 117.529 6.98604C117.529 16.5499 117.408 17.9322 117.408 21.8874C117.408 24.3441 117.651 25.6326 118.416 26.7601C119.262 27.9283 119.947 28.0078 120.348 28.0078C120.469 28.0078 121.033 28.0486 121.154 28.0486C121.557 28.0486 122 28.2912 122 28.491C122 29.1352 121.678 29.2168 120.993 29.2168C118.817 29.2168 118.495 29.0557 117.166 29.0557C115.072 29.0557 114.185 29.2576 112.736 29.2576C111.084 29.2576 110.923 28.9762 110.923 28.6541C110.923 27.5674 113.298 28.6949 113.904 26.0771C113.985 25.755 114.346 18.0627 114.346 15.3246V13.029C114.346 11.8607 114.387 10.3317 114.387 8.68026V6.82702C114.387 5.77909 114.346 4.77398 114.226 3.88712C114.024 2.43755 112.334 1.87281 111.204 1.83408C110.399 1.7933 110.358 1.4304 110.358 1.2306C110.36 0.945172 110.521 0.623047 111.49 0.623047Z" fill="white"/>
            <path d="M23.3212 28.2661C25.6576 27.3792 25.3742 26.5739 37.3357 1.12189C37.6986 0.316575 37.9004 0.196289 38.5447 0.196289C39.3907 0.196289 38.8668 0.277837 41.4438 6.67957C43.3358 11.3504 49.0158 24.5208 49.3379 25.1651C51.3522 29.2324 53.8089 27.3792 53.8089 28.8308C53.8089 29.0326 53.7274 29.4343 52.7223 29.4343C51.7967 29.4343 50.2248 29.1917 49.0973 29.1917C47.6478 29.1917 46.5203 29.3527 45.3521 29.3527C43.6599 29.3527 43.4193 29.2712 43.4193 28.788C43.4193 27.9011 45.4337 28.4251 45.4337 26.896C45.4337 25.6075 43.5804 20.7736 42.7364 19.2445C42.5753 18.9224 42.4142 18.5432 41.085 18.5595C37.6313 18.6003 34.6424 19.1059 33.5497 19.5075C30.7851 20.5228 30.0613 22.0988 29.5843 22.8144C29.2866 23.2609 28.3997 24.9633 28.3997 26.0907C28.3997 28.8695 31.3804 27.581 31.3804 28.8288C31.3804 29.1509 31.3396 29.3935 30.6954 29.3935C30.0511 29.3935 28.7626 29.3527 27.3518 29.3527C25.782 29.3527 24.7748 29.5138 23.8879 29.5138C23.1621 29.5138 22.7197 29.4322 22.7197 29.0306C22.7197 28.629 22.9583 28.3863 23.3212 28.2661ZM37.4723 16.5778C37.9269 16.535 39.9331 16.4677 39.9514 16.4657C40.9993 16.4657 41.5213 16.2638 41.5213 15.8214C41.5213 15.3382 37.8168 6.39822 37.0502 6.39822C36.6343 6.39822 31.9839 16.0049 30.5486 18.9917C30.4854 19.1242 30.6587 19.2404 30.7586 19.1344C32.1551 17.6726 33.3601 16.9692 37.4723 16.5778Z" fill="white"/>
            </g>
            </svg>
        </a>
        <div class="laoli-menu-controls">
            <div href="" class="laoli-menu-controls-text-right laoli-menu-controls-search visualy-hidden">{{ section.settings.menu_search_title}}</div>
            <div class="laoli-menu-controls-text-right js-cart-button">{{ section.settings.menu_cart_title}}<span class="js-cart-count">{% if cart.item_count > 0 %} ({{ cart.item_count}}){% endif %}</span></div>
        </div>
        <div class="laoli-menu-mobile-wrapper">
            <div class="laoli-menu-mobile-cart js-cart-button">{{ section.settings.menu_cart_title}}</div>

            <svg class="laoli-menu-mobile-burger js-menu-burger" width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.625" width="24" height="0.75" fill="#FFFFFF"/>
                <rect y="10.625" width="24" height="0.75" fill="#FFFFFF"/>
            </svg>

        </div>
    </div>
    <div class="laoli-menu-inner" style="background: {{ section.settings.menu-color }};">
        <div class="container laoli-menu-wrapper laoli-menu-wrapper__inner">
            <div class="laoli-menu-controls">
                <svg class="cursor-pointer js-menu-close" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2081 1.25103L17.6777 0.720703L9.01562 9.38282L0.53033 0.897526L0 1.42786L8.48529 9.91315L6.36578e-05 18.3984L0.530394 18.9287L9.01562 10.4435L17.6777 19.1055L18.208 18.5752L9.54595 9.91315L18.2081 1.25103Z" fill="white"/>
                </svg>
            </div>
            <a href="/" class="laoli-menu__logo laoli-menu__logo__white">
                <svg width="122" height="30" viewBox="0 0 122 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g style="mix-blend-mode:difference">
                <path d="M1.0887 0.5C1.41083 0.5 1.77373 0.581553 2.17536 0.581553C3.14174 0.581553 4.06734 0.742614 5.68001 0.742614C7.85538 0.742614 9.18466 0.581553 9.90842 0.581553C10.4324 0.581553 10.5934 0.663103 10.5934 0.985228C10.5934 2.71614 7.57199 0.461265 7.29064 5.33392C7.17035 7.83142 6.96851 21.7256 6.96851 22.168V23.7787C6.96851 25.1079 7.24986 26.7594 7.93489 26.9612C8.82175 27.2425 9.06233 27.2833 9.6658 27.2833C22.5121 27.2833 21.0218 23.4565 22.19 23.4565C22.4326 23.4565 22.6732 23.6584 22.6732 24.1416C22.6732 26.5575 19.5314 29.4179 17.9208 29.4179C12.7668 29.4179 9.3029 29.0142 6.84619 29.0142C4.63208 29.0142 3.78599 29.3364 1.81246 29.3364C1.00715 29.3364 0.64425 29.1345 0.64425 28.8532C0.64425 28.4108 1.08666 28.2089 1.2885 28.2089C1.44957 28.2089 1.89198 28.2089 2.45672 27.8052C3.34358 27.1202 3.82677 26.0743 3.82677 19.9111V14.9182C3.82677 12.7041 3.94706 10.4472 3.94706 7.95171C3.94706 6.78349 3.90628 5.57654 3.86551 4.286C3.78396 2.59382 2.17333 1.82928 0.603476 1.7885C0.0387364 1.7885 0 1.54589 0 1.22376C0.00203877 0.622327 0.766577 0.5 1.0887 0.5Z" fill="white"/>
                <path d="M68.9457 0.139648C81.109 0.139648 84.1692 9.32227 84.1692 13.4304C84.1692 24.7476 77.2027 29.8608 68.383 29.8608C58.3951 29.8608 53.3613 22.8128 53.3613 15.565C53.3593 6.90429 58.6764 0.139648 68.9457 0.139648ZM69.6715 28.0891C74.1425 28.0891 80.8664 24.5458 80.8664 17.1348C80.8664 6.98583 74.6644 1.75028 67.5756 1.75028C62.179 1.75028 56.9027 5.29366 56.9027 13.5099C56.9047 18.6252 60.5684 28.0891 69.6715 28.0891Z" fill="white"/>
                <path d="M87.1639 0.5C87.486 0.5 87.8489 0.581553 88.2506 0.581553C89.2169 0.581553 90.1425 0.742614 91.7552 0.742614C93.9306 0.742614 95.2598 0.581553 95.9836 0.581553C96.5076 0.581553 96.6686 0.663103 96.6686 0.985228C96.6686 2.71614 93.6472 0.461265 93.3658 5.33392C93.2455 7.83142 93.0437 21.7256 93.0437 22.168V23.7787C93.0437 25.1079 93.3251 26.7594 94.0101 26.9612C94.8969 27.2425 95.1375 27.2833 95.741 27.2833C108.587 27.2833 107.097 23.4565 108.265 23.4565C108.508 23.4565 108.748 23.6584 108.748 24.1416C108.748 26.5575 105.607 29.4179 103.996 29.4179C98.842 29.4179 95.3781 29.0142 92.9214 29.0142C90.7073 29.0142 89.8612 29.3364 87.8877 29.3364C87.0824 29.3364 86.7194 29.1345 86.7194 28.8532C86.7194 28.4108 87.1619 28.2089 87.3637 28.2089C87.5248 28.2089 87.9672 28.2089 88.5319 27.8052C89.4188 27.1202 89.902 26.0743 89.902 19.9111V14.9182C89.902 12.7041 90.0222 10.4472 90.0222 7.95171C90.0222 6.78349 89.9815 5.57654 89.9407 4.286C89.8592 2.59382 88.2485 1.82928 86.6787 1.7885C86.1139 1.7885 86.0752 1.54589 86.0752 1.22376C86.0772 0.622327 86.8418 0.5 87.1639 0.5Z" fill="white"/>
                <path d="M111.49 0.623047C112.617 0.623047 113.786 0.784111 116.04 0.784111C117.771 0.784111 117.048 0.702559 119.584 0.702559C119.865 0.702559 120.67 0.743335 120.67 1.2673C120.67 1.6302 119.985 1.87077 118.817 2.35396C117.69 2.79638 117.529 5.41415 117.529 6.98604C117.529 16.5499 117.408 17.9322 117.408 21.8874C117.408 24.3441 117.651 25.6326 118.416 26.7601C119.262 27.9283 119.947 28.0078 120.348 28.0078C120.469 28.0078 121.033 28.0486 121.154 28.0486C121.557 28.0486 122 28.2912 122 28.491C122 29.1352 121.678 29.2168 120.993 29.2168C118.817 29.2168 118.495 29.0557 117.166 29.0557C115.072 29.0557 114.185 29.2576 112.736 29.2576C111.084 29.2576 110.923 28.9762 110.923 28.6541C110.923 27.5674 113.298 28.6949 113.904 26.0771C113.985 25.755 114.346 18.0627 114.346 15.3246V13.029C114.346 11.8607 114.387 10.3317 114.387 8.68026V6.82702C114.387 5.77909 114.346 4.77398 114.226 3.88712C114.024 2.43755 112.334 1.87281 111.204 1.83408C110.399 1.7933 110.358 1.4304 110.358 1.2306C110.36 0.945172 110.521 0.623047 111.49 0.623047Z" fill="white"/>
                <path d="M23.3212 28.2661C25.6576 27.3792 25.3742 26.5739 37.3357 1.12189C37.6986 0.316575 37.9004 0.196289 38.5447 0.196289C39.3907 0.196289 38.8668 0.277837 41.4438 6.67957C43.3358 11.3504 49.0158 24.5208 49.3379 25.1651C51.3522 29.2324 53.8089 27.3792 53.8089 28.8308C53.8089 29.0326 53.7274 29.4343 52.7223 29.4343C51.7967 29.4343 50.2248 29.1917 49.0973 29.1917C47.6478 29.1917 46.5203 29.3527 45.3521 29.3527C43.6599 29.3527 43.4193 29.2712 43.4193 28.788C43.4193 27.9011 45.4337 28.4251 45.4337 26.896C45.4337 25.6075 43.5804 20.7736 42.7364 19.2445C42.5753 18.9224 42.4142 18.5432 41.085 18.5595C37.6313 18.6003 34.6424 19.1059 33.5497 19.5075C30.7851 20.5228 30.0613 22.0988 29.5843 22.8144C29.2866 23.2609 28.3997 24.9633 28.3997 26.0907C28.3997 28.8695 31.3804 27.581 31.3804 28.8288C31.3804 29.1509 31.3396 29.3935 30.6954 29.3935C30.0511 29.3935 28.7626 29.3527 27.3518 29.3527C25.782 29.3527 24.7748 29.5138 23.8879 29.5138C23.1621 29.5138 22.7197 29.4322 22.7197 29.0306C22.7197 28.629 22.9583 28.3863 23.3212 28.2661ZM37.4723 16.5778C37.9269 16.535 39.9331 16.4677 39.9514 16.4657C40.9993 16.4657 41.5213 16.2638 41.5213 15.8214C41.5213 15.3382 37.8168 6.39822 37.0502 6.39822C36.6343 6.39822 31.9839 16.0049 30.5486 18.9917C30.4854 19.1242 30.6587 19.2404 30.7586 19.1344C32.1551 17.6726 33.3601 16.9692 37.4723 16.5778Z" fill="white"/>
                </g>
                </svg>
            </a>
            <div class="laoli-menu-controls">
                <div class="laoli-menu-controls-text-right laoli-menu-controls-text__white js-cart-button">{{ section.settings.menu_cart_title}}<span class="js-cart-count">{% if cart.item_count > 0 %} ({{ cart.item_count}}){% endif %}</span></div>
            </div>
            <div class="laoli-menu-mobile-wrapper">
                <div class="laoli-menu-mobile-cart laoli-menu-controls-text__white">{{ section.settings.menu_cart_title}}</div>

                <svg class="js-menu-close" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0001 1.1983L18.4697 0.667969L9.80761 9.33008L1.32232 0.844792L0.791992 1.37512L9.27728 9.86041L0.792056 18.3456L1.32239 18.876L9.80761 10.3907L18.4697 19.0528L19 18.5225L10.3379 9.86041L19.0001 1.1983Z" fill="white"/>
                </svg>

            </div>
        </div>
        <div class="laoli-menu-content-mobile">
            <div class="laoli-menu-content-mobile-cols">
                <div class="laoli-menu-content-mobile-col">
                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links.first.title }}</div>
                        {% for link in linklists.main-menu.links.first.links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="laoli-menu-content-mobile-col">
                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links[1].title }}</div>
                        {% for link in linklists.main-menu.links[1].links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>

                    <div class="laoli-menu-content-mobile-item">
                        <div class="laoli-menu-content-mobile-title">{{ linklists.main-menu.links[2].title }}</div>
                        {% for link in linklists.main-menu.links[2].links  %}
                          <a href="{{ link.url }}" class="laoli-menu-content-mobile-link">{{link.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="laoli-menu-content-mobile-cols2">
                <div class="laoli-menu-content-mobile-search">search</div>
                <div class="laoli-menu-content-mobile-row">
                    <div class="laoli-menu-content-mobile-switch">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">fr </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> eng</span>
                    </div>
                    <div class="laoli-menu-content-mobile-switch">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">eur </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> usd </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> gbp</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="laoli-menu-content-desktop container">
            <div class="laoli-menu-content-cols">
              {% for link in linklists.main-menu.links %}
                <div class="laoli-menu-content-col">
                    <div class="laoli-menu-content-title">{{link.title}}</div>
                    {% for child_link  in link.links %}
                      <a href="{{ child_link.url }}" class="laoli-menu-content-link">{{child_link.title}}</a>
                    {% endfor %}
                </div>
              {% endfor %}

                <div class="laoli-menu-content-col laoli-menu-content-col2">
                    <div class="laoli-menu-content-mobile-switch">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">fr </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> eng</span>
                    </div>
                    <div class="laoli-menu-content-mobile-switch">
                        <span class="laoli-menu-content-mobile-switch__text laoli-menu-content-mobile-switch__text_active">eur </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> usd </span><span class="laoli-menu-content-mobile-switch__text">|</span><span class="laoli-menu-content-mobile-switch__text"> gbp</span>
                    </div>
                </div>
            </div>
            <div class="laoli-menu-content-pic-wrapper">
                <picture>
                  <source srcset="{{ section.settings.menu_image | img_url: '520x300', crop: 'center' }}" media="(min-width: 1920px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '470x300', crop: 'center' }}" media="(min-width: 1440px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '300x300', crop: 'center' }}" media="(min-width: 1200px)" />
                  <source srcset="{{ section.settings.menu_image | img_url: '200x300', crop: 'center' }}" media="(min-width: 960px)" />
                  <img src="{{ section.settings.menu_image | img_url: '520x300', crop: 'center' }}" alt="" />
                </picture>
            </div>


        </div>
    </div>
</div>

<div class="laoli-registration">
    <svg class="laoli-registration-close" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2081 0.53033L17.6777 0L9.01562 8.66211L0.53033 0.176823L0 0.707153L8.48529 9.19244L6.36578e-05 17.6777L0.530394 18.208L9.01562 9.72277L17.6777 18.3848L18.208 17.8545L9.54595 9.19244L18.2081 0.53033Z" fill="black"/>
    </svg>

    <div class="laoli-registration-pic-wrapper">
        <picture class="laoli-registration-pic">
          <source srcset="{{ section.settings.reg_image | img_url: '360x220', crop: 'center' }} 1x {{ section.settings.reg_image | img_url: '720x440', crop: 'center' }} 2x" media="(min-width: 960px)" />
           <img src="{{ section.settings.reg_image | img_url: '360x220', crop: 'center' }}" alt="" class="laoli-registration-pic">
        </picture>
    </div>
    <div class="laoli-registration-content">
        <div class="laoli-registration-title">{{ section.settings.reg_title }}</div>
        <div class="laoli-registration-subtitle">{{ section.settings.reg_text }}</div>
        <form action="." class="laoli-registration-form">
            <input required type="text" class="laoli-registration-input laoli-registration-input-name" placeholder="{{ section.settings.reg_input_name }}">
            <input required type="email" class="laoli-registration-input laoli-registration-input-email" placeholder="{{ section.settings.reg_input_email }}">
            <div class="laoli-registration-checkbox-wrapper">
                <label class="laoli-registration-checkbox-label">
                    <input required type="checkbox" class="laoli-registration-checkbox" >
                    <div class="laoli-registration-checkbox-squar"></div>
                </label>
                <span class="laoli-registration-checkbox-text">{{ section.settings.reg_agree }}</span>
            </div>
            <button type="submit" class="laoli-registration-button button-white">{{ section.settings.reg_button_text }}</button>
        </form>
        <div class="laoli-registration-form-success">{{ section.settings.reg_success }}</div>
    </div>
</div>

<div class="laoli-region">

    <svg class="laoli-region-close js-region-close" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8658 0.403846L13.4619 0L6.86564 6.59628L0.403846 0.134484L0 0.53833L6.46179 7.00012L0.000366193 13.4615L0.404213 13.8654L6.86564 7.40397L13.4615 13.9999L13.8654 13.596L7.26948 7.00012L13.8658 0.403846Z" fill="#B82C36"/>
    </svg>

    <div class="laoli-region-first">
        <div class="laoli-region-title laoli-region-title-first">Your location is set to</div>
        <div class="laoli-region-region-name">{{ localization.country.name }}</div>
        <div class="laoli-region-region-text1">Shop in {{ localization.country.currency.iso_code }}</div>
        <div class="laoli-region-region-text2">Get shipping options for {{ localization.country.name }}</div>
        <button class="laoli-region-button1 button-white js-region-close">CONTINUE</button>
        <div class="laoli-region-change">Change country</div>
    </div>

    <div class="laoli-region-second">
        <div class="laoli-region-title laoli-region-title-second">Select your country</div>
        <div class="laoli-region-selector">
            <div class="laoli-region-selector-inner">
                {%- for country in localization.available_countries -%}
                    <div class="laoli-region-selector-item" data-value="{{ country.iso_code }}">{{ country.name }}</div>
                {%- endfor -%}
            </div>
        </div>
        {%- form 'localization', id: 'FooterCountryFormNoScript' -%}
            <input class="js-region-input" type="hidden" name="country_code" value="{{ localization.language.iso_code }}">
            <button class="laoli-region-button1 button-white">CONTINUE</button>
        {%- endform -%}
    </div>

</div>



{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
      {
        "type": "color",
        "id": "menu-color",
        "label": "menu",
        "default": "#92857E"
      },
    {
      "type": "text",
      "id": "menu_shop_title",
      "label": "menu shop text",
      "default": "shop"
    },
    {
      "type": "text",
      "id": "menu_cart_title",
      "label": "menu cart text",
      "default": "cart"
    },
    {
      "type": "text",
      "id": "menu_search_title",
      "label": "menu search text",
      "default": "search"
    },
    {
      "type": "image_picker",
      "id": "menu_image",
      "label": "menu image"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show banner",
      "default": false
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "banner button text",
      "default": "join us"
    },
    {
      "type": "text",
      "id": "banner_text",
      "label": "banner text",
      "default": "text"
    },
    {
      "type": "image_picker",
      "id": "reg_image",
      "label": "registration image"
    },
    {
      "type": "text",
      "id": "reg_title",
      "label": "registration title",
      "default": "become a&#160;collector"
    },
    {
      "type": "text",
      "id": "reg_text",
      "label": "registration text-decoration",
      "default": "RECEIVE LAOLI UPDATES, EARLY ACCESSAND 10%&#160;OFF YOUR FIRST ORDER"
    },
    {
      "type": "text",
      "id": "reg_input_name",
      "label": "name input placeholder",
      "default": "your name"
    },
    {
      "type": "text",
      "id": "reg_input_email",
      "label": "name input placeholder",
      "default": "e-mail"
    },
    {
      "type": "text",
      "id": "reg_agree",
      "label": "registration agree text",
      "default": "I AGREE WITH TERMS OF <a href='/''>PRIVACY POLICY</a>"
    },
    {
      "type": "text",
      "id": "reg_button_text",
      "label": "registration button text",
      "default": "join us"
    },
    {
      "type": "text",
      "id": "reg_success",
      "label": "registration success text",
      "default": "Merci"
    },
    {
      "type": "text",
      "id": "cart_title",
      "label": "cart popup title",
      "default": "your cart"
    },
    {
      "type": "text",
      "id": "cart_remove",
      "label": "cart popup remove text",
      "default": "remove"
    },
    {
      "type": "text",
      "id": "cart_total",
      "label": "cart popup total text",
      "default": "total"
    },
    {
      "type": "text",
      "id": "cart_delivery",
      "label": "cart popup delivery text",
      "default": "N.B. YOU HAVE PIECES THAT ARE MADE TO ORDER THEY WILL BE DELIVERED WITHIN 6 TO 8 WEEKS."
    },
    {
      "type": "text",
      "id": "cart_checkout",
      "label": "cart popup checkout text",
      "default": "checkout"
    },
    {
      "type": "text",
      "id": "cart_empty",
      "label": "cart popup empty text",
      "default": "Your cart is empty"
    }
  ]
}
{% endschema %}
