<section class="laoli-home-jumbo">
    <picture class="laoli-home-jumbo-pic">
      <source srcset="{{ section.settings.banner_image | img_url: '1820x840', crop: 'center' }}" media="(min-width: 1920px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '1340x680', crop: 'center' }}" media="(min-width: 1440px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '1100x680', crop: 'center' }}" media="(min-width: 1200px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '920x550', crop: 'center' }}" media="(min-width: 960px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '680x500', crop: 'center' }}" media="(min-width: 720px)" />
      <source srcset="{{ section.settings.banner_image | img_url: '480x390', crop: 'center' }}" media="(min-width: 480px)" />
      <img src="{{ section.settings.banner_image | img_url: '360x600', crop: 'center' }}" alt="{{ section.settings.banner_image.alt }}" />
    </picture>
    <a href="{{ section.settings.image_banner_title_link }}" class="laoli-home-jumbo-button button-red">{{ section.settings.image_banner_title_text }}</a>
</section>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "settings": [
    {
      "type": "text",
      "id": "image_banner_title_text",
      "label": "image-banner button text",
      "default": "discover our new collection"
    },
    {
      "type": "text",
      "id": "image_banner_title_link",
      "label": "image-banner button link",
      "default": "/"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "image-banner image"
    }
  ]
}

{% endschema %}
