<div class="laoli-grid">

    <div class="container">
        <div class="laoli-grid-controls">

            <div class="laoli-grid-controls-list laoli-grid-controls-list_desktop">
                {%- for collectionFilter in section.settings.collection_for_filter_list -%}
                    <a href="{{ collectionFilter.url }}" class="laoli-grid-controls-list-item {% if collection.title == collectionFilter.title %}laoli-grid-controls-list-item_active{% endif %}">{{collectionFilter.title}}</a>
                {%- endfor -%}
            </div>

            <div class="laoli-grid-controls-list laoli-grid-controls-list_mobile owl-carousel">
                {%- for collectionFilter in section.settings.collection_for_filter_list -%}
                    <a href="{{ collectionFilter.url }}" class="laoli-grid-controls-list-item {% if collection.title == collectionFilter.title %}laoli-grid-controls-list-item_active{% endif %}">{{collectionFilter.title}}</a>
                {%- endfor -%}
            </div>

            <div class="laoli-grid-controls-filters">
                <div class="laoli-grid-controls-filters-filter" id="filter-in-stock">{{ section.settings.grid_filter_in_stock }}</div>
                <div class="laoli-grid-controls-filters-filter" id="filter-made-to-order">{{ section.settings.grid_filter_made_to_order}}</div>
            </div>
        </div>
    </div>

    <div class="laoli-grid-items">

        {%- for product in collection.products -%}

            {% assign is_available = false %}

            {%- for variant in product.variants -%}
                {% if variant.inventory_quantity > 0 %}
                  {% assign is_available = true %}
                {% endif %}
            {%- endfor -%}

            {% render 'card-product',
              card_product: product,
              available: is_available
            %}
        {%- endfor -%}
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
    </div>

</div>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "text",
      "id": "grid_filter_made_to_order",
      "label": "filter made to order text",
      "default": "made to order"
    },
    {
      "type": "text",
      "id": "grid_filter_in_stock",
      "label": "filter in stock  text",
      "default": "in stock"
    },
    {
        "type": "collection_list",
        "id": "collection_for_filter_list",
        "label": "Collections for filter"
    }
  ]
}

{% endschema %}
