<div class="laoli-pdp-gallery" tabindex="-1">
    <div class="laoli-pdp-gallery-wrapper">
    {%- for media in product.media -%}
        <img data-index="{{ forloop.index }}" src="{{ media.preview_image | image_url: width: 1100 }}" alt="" class="laoli-pdp-gallery-pic">
    {%- endfor -%}
    </div>
</div>


<div class="laoli-pdp">
    <div class="container">
        <div class="laoli-pdp-mobile">
            <div class="laoli-pdp-mobile-goback" onclick="history.back()">{{ section.settings.pdp-goback}}</div>
            <div class="laoli-pdp-mobile-carousel-wrapper">
                <div class="laoli-pdp-mobile-carousel owl-carousel">
                    {%- for media in product.media -%}
                      <div class="laoli-pdp-mobile-carousel-item">
                          <img src="{{ media.preview_image | image_url: width: 420 }}" alt="" class="laoli-pdp-mobile-carousel-item-pic">
                      </div>
                    {%- endfor -%}
                </div>

            </div>
            <div class="laoli-pdp-mobile-info">
                <div class="laoli-pdp-mobile-info-status">{% if current_variant.inventory_quantity > 0 %}{{ section.settings.pdp-instock}}{% else %}{{ section.settings.pdp-madetoorder }}{% endif %}</div>
                <div class="laoli-pdp-mobile-info-title">{{ product.title }}</div>
                <div class="laoli-pdp-mobile-info-price">{{ product.price | money_without_trailing_zeros }}</div>
                <div class="laoli-pdp-mobile-info-text">{{ product.description }}</div>

                <form method="post" action="/cart/add">
                  <div class="laoli-pdp-mobile-info-buttons">

                      <div class="laoli-pdp-mobile-info-buttons-sizes-wrapper {% if product.variants.size <= 1 %}hidden{% endif %}">
                        <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                        <div class="laoli-pdp-mobile-info-buttons-sizes">
                          {{ section.settings.pdp-size}}: <span class="laoli-pdp-mobile-info-buttons-sizes-value">{{ product.variants[0].title }}</span>
                        </div>
                        <div class="laoli-pdp-mobile-info-buttons-sizes-menu">
                          {% for variant in product.variants %}
                            <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item" data-id="{{ variant.id}}">{{ variant.title }}</div>
                          {% endfor %}

                        </div>
                      </div>
                      <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add" value="{{ section.settings.pdp-addtocart}}">
                  </div>
                </form>

            </div>
            <div class="laoli-pdp-mobile-details">
                <div class="laoli-pdp-mobile-details-controls">
                    <div class="laoli-pdp-mobile-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                    <div class="laoli-pdp-mobile-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
                </div>
                <div class="laoli-pdp-mobile-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
                <div class="laoli-pdp-mobile-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
            </div>
        </div>

        <div class="laoli-pdp-desktop">
            <div class="laoli-pdp-desktop-goback" onclick="history.back()">{{ section.settings.pdp-goback }}</div>
            <div class="laoli-pdp-desktop-back">{{ section.settings.pdp-back }}</div>
            <div class="laoli-pdp-desktop-col1">
                <div class="laoli-pdp-desktop-details laoli-pdp-desktop-details_left">
                    <div class="laoli-pdp-desktop-details-controls">
                        <div class="laoli-pdp-desktop-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                        <div class="laoli-pdp-desktop-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
                    </div>
                    <div class="laoli-pdp-desktop-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
                    <div class="laoli-pdp-desktop-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
                </div>
            </div>
            <div class="laoli-pdp-desktop-col2">
              {%- for media in product.media -%}
                <img data-index="{{ forloop.index }}" src="{{ media.preview_image | image_url: width: 760 }}" alt="" class="laoli-pdp-desktop-pic">
              {%- endfor -%}
            </div>
            <div class="laoli-pdp-desktop-col3">
                <div class="laoli-pdp-desktop-info">
                    <div class="laoli-pdp-desktop-info-status">{% if current_variant.inventory_quantity > 0 %}{{ section.settings.pdp-instock }}{% else %}{{ section.settings.pdp-madetoorder }}{% endif %}</div>
                    <div class="laoli-pdp-desktop-info-title">{{ product.title}}</div>
                    <div class="laoli-pdp-desktop-info-price">{{ product.price | money_without_trailing_zeros}}</div>
                    <div class="laoli-pdp-desktop-info-text">{{ product.description}}</div>

                    <form method="post" action="/cart/add">
                      <div class="laoli-pdp-mobile-info-buttons">

                          <div class="laoli-pdp-mobile-info-buttons-sizes-wrapper {% if product.variants.size <= 1 %}hidden{% endif %}">
                            <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                            <div class="laoli-pdp-mobile-info-buttons-sizes">
                              {{ section.settings.pdp-size}}: <span class="laoli-pdp-mobile-info-buttons-sizes-value">{{ product.variants[0].title }}</span>
                            </div>
                            <div class="laoli-pdp-mobile-info-buttons-sizes-menu">
                              {% for variant in product.variants %}
                                <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item" data-id="{{ variant.id}}">{{ variant.title }}</div>
                              {% endfor %}

                            </div>
                          </div>
                          <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add" value="{{ section.settings.pdp-addtocart}}">
                      </div>
                    </form>

                </div>
                <div class="laoli-pdp-desktop-details laoli-pdp-desktop-details_right">
                    <div class="laoli-pdp-desktop-details-controls">
                        <div class="laoli-pdp-desktop-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                        <div class="laoli-pdp-desktop-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
                    </div>
                    <div class="laoli-pdp-desktop-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
                    <div class="laoli-pdp-desktop-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
                </div>
            </div>
        </div>

    </div>

</div>


{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "text",
      "id": "pdp-goback",
      "label": "go back text",
      "default": "go back"
    },
    {
      "type": "text",
      "id": "pdp-size",
      "label": "size text",
      "default": "size"
    },
    {
      "type": "text",
      "id": "pdp-addtocart",
      "label": "add to cart text",
      "default": "add to cart"
    },
    {
      "type": "text",
      "id": "pdp-details",
      "label": "details text",
      "default": "details"
    },
    {
      "type": "text",
      "id": "pdp-care",
      "label": "care text",
      "default": "care"
    },
    {
      "type": "text",
      "id": "pdp-instock",
      "label": "instock text",
      "default": "in stock"
    },
    {
      "type": "text",
      "id": "pdp-madetoorder",
      "label": "made to order text",
      "default": "made to order"
    },
    {
      "type": "text",
      "id": "pdp-back",
      "label": "back text",
      "default": "back"
    }
  ]
}
{% endschema %}
