<div class="laoli-pdp-gallery" tabindex="-1">
    <div class="laoli-pdp-gallery-controls">
      <div class="container">
        <div class="laoli-pdp-desktop-back">{{ section.settings.pdp-back }}</div>
      </div>
    </div>
    <div class="laoli-pdp-gallery-wrapper">
      {%- for media in product.media -%}
          <picture data-index="{{ forloop.index }}" class="laoli-pdp-gallery-pic">
            <source srcset="{{ media.preview_image | image_url: width: 1100 }} 1x, {{ media.preview_image | image_url: width: 2200 }} 2x"/>
            <img src="{{ media.preview_image | image_url: width: 1100 }}" alt="" data-index="{{ forloop.index }}">
          </picture>
      {%- endfor -%}
      <form method="post" action="/cart/add" class="laoli-pdp-gallery-form js-cart-form">  
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  <input type="number" name="quantity" value="1" min="1">
        <div class="laoli-pdp-mobile-info-buttons">

          <div class="laoli-pdp-mobile-info-buttons-sizes-wrapper {% if product.variants.size <= 1 %}hidden{% endif %}">

            {% assign first_variant = product.variants[0] %}

            {%- for variant in product.variants -%}
                {% if variant.inventory_quantity > 0 %}
                  {% assign first_variant = variant %}
                  {% break %}
                {% endif %}
            {%- endfor -%}

            <input type="hidden" name="id" value="{{ first_variant.id }}">
            <div class="laoli-pdp-mobile-info-buttons-sizes">
              {{ section.settings.pdp-size}}: <span class="laoli-pdp-mobile-info-buttons-sizes-value">{{ first_variant.title }}</span>
            </div>
            <div class="laoli-pdp-mobile-info-buttons-sizes-menu">
              {% for variant in product.variants %}
                {% if variant.inventory_quantity > 0 %}
                  <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity == 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id }}">!{{ variant.title }}</div>
                {% endif %}
              {% endfor %}

              {% for variant in product.variants %}
                {% if variant.inventory_quantity <= 0 %}
                  <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity <= 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id }}">!{{ variant.title }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

            {% if  product.available %}
                <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-addtocart }}">
            {% else %}
                <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-soldout }}" disabled>
            {% endif %}
        </div>
      </form>
    </div>
</div>

<div class="laoli-pdp" data-inStockText="{{ section.settings.pdp-instock }}" data-madeToOrderText="{{ section.settings.pdp-madetoorder }}" data-addToCartText="{{ section.settings.pdp-addtocart }}" data-preOrderText="{{ section.settings.pdp-preorder }}">
    <div class="laoli-pdp-mobile">
      <div class="container">
        <div class="laoli-pdp-mobile-goback" onclick="history.back()">{{ section.settings.pdp-goback}}</div>
      </div>

      <div class="laoli-pdp-mobile-carousel-wrapper">

        <div class="laoli-pdp-mobile-carousel-control">
        </div>

        <div class="laoli-pdp-mobile-carousel owl-carousel">
            {%- for media in product.media -%}
              <div class="laoli-pdp-mobile-carousel-item{% if forloop.index == 1 %} laoli-pdp-mobile-carousel-item-first{% endif %}">
                  <picture class="laoli-pdp-mobile-carousel-item-pic">
                    <source srcset="{{ media.preview_image | image_url: width: 420 }} 1x, {{ media.preview_image | image_url: width: 840 }} 2x"/>
                    <img src="{{ media.preview_image | image_url: width: 420 }}" alt="" loading="lazy">
                  </picture>
              </div>
            {%- endfor -%}
        </div>

      </div>

      <div class="container">
        <div class="laoli-pdp-mobile-info">

            {% assign product_status = section.settings.pdp-madetoorder %}

            {%- for variant in product.variants -%}
                {% if variant.inventory_quantity > 0 %}
                  {% assign product_status = section.settings.pdp-instock %}
                  {% break %}
                {% endif %}
            {%- endfor -%}


            <div class="laoli-pdp-mobile-info-status js-status">{% if product.available %}{{ product_status }}{% else %}{{ section.settings.pdp-soldout }}{% endif %}</div>
            <div class="laoli-pdp-mobile-info-title">{{ product.title }}</div>
            <div class="laoli-pdp-mobile-info-price">{{ product.price | money_without_trailing_zeros }}</div>
            <div class="laoli-pdp-mobile-info-text">{{ product.description }}</div>

            <form method="post" action="/cart/add" class="js-cart-form">
              <div class="laoli-pdp-mobile-info-buttons">

                <div class="laoli-pdp-mobile-info-buttons-sizes-wrapper {% if product.variants.size <= 1 %}hidden{% endif %}">

                  {% assign first_variant = product.variants[0] %}

                  {%- for variant in product.variants -%}
                      {% if variant.inventory_quantity > 0 %}
                        {% assign first_variant = variant %}
                        {% break %}
                      {% endif %}
                  {%- endfor -%}

                  <input type="hidden" name="id" value="{{ first_variant.id }}">
                  <div class="laoli-pdp-mobile-info-buttons-sizes">
                    {{ section.settings.pdp-size}}: <span class="laoli-pdp-mobile-info-buttons-sizes-value">{{ first_variant.title }}</span>
                  </div>
                  <div class="laoli-pdp-mobile-info-buttons-sizes-menu">
                    {% for variant in product.variants %}
                      {% if variant.inventory_quantity > 0 %}
                        <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity == 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id}}">{{ variant.title }}</div>
                      {% endif %}
                    {% endfor %}

                    {% for variant in product.variants %}
                      {% if variant.inventory_quantity <= 0 %}
                        <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity <= 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id}}">{{ variant.title }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

                  {% if  product.available %}
                      <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-addtocart }}">
                  {% else %}
                      <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-soldout }}" disabled>
                  {% endif %}
              </div>
            </form>

        </div>
        <div class="laoli-pdp-mobile-details">
            <div class="laoli-pdp-mobile-details-controls">
                <div class="laoli-pdp-mobile-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                <div class="laoli-pdp-mobile-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
            </div>
            <div class="laoli-pdp-mobile-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
            <div class="laoli-pdp-mobile-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
        </div>

      </div>
    </div>

    <div class="container">
        <div class="laoli-pdp-desktop">
            <div class="laoli-pdp-desktop-col1">
              <div class="laoli-pdp-desktop-goback" onclick="history.back()">{{ section.settings.pdp-goback }}</div>
                <div class="laoli-pdp-desktop-details laoli-pdp-desktop-details_left">
                    <div class="laoli-pdp-desktop-details-controls">
                        <div class="laoli-pdp-desktop-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                        <div class="laoli-pdp-desktop-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
                    </div>
                    <div class="laoli-pdp-desktop-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
                    <div class="laoli-pdp-desktop-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
                </div>
            </div>
            <div class="laoli-pdp-desktop-col2">
              {%- for media in product.media -%}
                <picture class="laoli-pdp-desktop-pic" data-index="{{ forloop.index }}">
                  <source srcset="{{ media.preview_image | image_url: width: 760 }} 1x, {{ media.preview_image | image_url: width: 1520 }} 2x"/>
                  <img src="{{ media.preview_image | image_url: width: 760 }}" alt="" loading="lazy" data-index="{{ forloop.index }}">
                </picture>
              {%- endfor -%}
            </div>
            <div class="laoli-pdp-desktop-col3">

                <div class="laoli-pdp-desktop-info">
                    <div class="laoli-pdp-desktop-info-status js-status">{% if product.available %}{{ product_status }}{% else %}{{ section.settings.pdp-soldout }}{% endif %}</div>
                    <div class="laoli-pdp-desktop-info-title">{{ product.title}}</div>
                    <div class="laoli-pdp-desktop-info-price">{{ product.price | money_without_trailing_zeros}}</div>
                    <div class="laoli-pdp-desktop-info-text">{{ product.description}}</div>

                    <form method="post" action="/cart/add" class="js-cart-form">
                      <div class="laoli-pdp-mobile-info-buttons">

                          <div class="laoli-pdp-mobile-info-buttons-sizes-wrapper {% if product.variants.size <= 1 %}hidden{% endif %}">

                            {% assign first_variant = product.variants[0] %}

                            {%- for variant in product.variants -%}
                                {% if variant.inventory_quantity > 0 %}
                                  {% assign first_variant = variant %}
                                  {% break %}
                                {% endif %}
                            {%- endfor -%}

                            <input type="hidden" name="id" value="{{ first_variant.id }}">
                            <div class="laoli-pdp-mobile-info-buttons-sizes">
                              {{ section.settings.pdp-size}}: <span class="laoli-pdp-mobile-info-buttons-sizes-value">{{ first_variant.title }}</span>
                            </div>
                            <div class="laoli-pdp-mobile-info-buttons-sizes-menu">
                              {% for variant in product.variants %}
                                {% if variant.inventory_quantity > 0 %}
                                  <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity == 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id}}">{{ variant.title }}</div>
                                {% endif %}
                              {% endfor %}

                              {% for variant in product.variants %}
                                {% if variant.inventory_quantity <= 0 %}
                                  <div class="laoli-pdp-mobile-info-buttons-sizes-menu-item{% if variant.inventory_quantity <= 0 %} laoli-pdp-mobile-info-buttons-sizes-menu-item_empty{% endif %}" data-price="{{ variant.price | money_without_trailing_zeros }}" data-id="{{ variant.id}}">{{ variant.title }}</div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          {% if  product.available %}
                              <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-addtocart }}">
                          {% else %}
                              <input type="submit" name="add" class="laoli-pdp-mobile-info-buttons-add js-add" value="{{ section.settings.pdp-soldout }}" disabled>
                          {% endif %}
                      </div>
                    </form>

                </div>
                <div class="laoli-pdp-desktop-details laoli-pdp-desktop-details_right">
                    <div class="laoli-pdp-desktop-details-controls">
                        <div class="laoli-pdp-desktop-details-controls-item controls-item-active js-details-button">{{ section.settings.pdp-details}}</div>
                        <div class="laoli-pdp-desktop-details-controls-item js-care-button">{{ section.settings.pdp-care}}</div>
                    </div>
                    <div class="laoli-pdp-desktop-details-content js-details-wrapper">{{ product.metafields.custom.details | newline_to_br }}</div>
                    <div class="laoli-pdp-desktop-details-content js-care-wrapper">{{ product.metafields.custom.care | newline_to_br }}</div>
                </div>

            </div>
        </div>
    </div>

</div>


{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "text",
      "id": "pdp-goback",
      "label": "go back text",
      "default": "go back"
    },
    {
      "type": "text",
      "id": "pdp-size",
      "label": "size text",
      "default": "size"
    },
    {
      "type": "text",
      "id": "pdp-addtocart",
      "label": "add to cart text",
      "default": "add to cart"
    },
    {
      "type": "text",
      "id": "pdp-soldout",
      "label": "soldout text",
      "default": "sold out"
    },
    {
      "type": "text",
      "id": "pdp-preorder",
      "label": "pre-order  text",
      "default": "pre-order"
    },
    {
      "type": "text",
      "id": "pdp-details",
      "label": "details text",
      "default": "details"
    },
    {
      "type": "text",
      "id": "pdp-care",
      "label": "care text",
      "default": "care"
    },
    {
      "type": "text",
      "id": "pdp-instock",
      "label": "instock text",
      "default": "in stock"
    },
    {
      "type": "text",
      "id": "pdp-madetoorder",
      "label": "made to order text",
      "default": "made to order"
    },
    {
      "type": "text",
      "id": "pdp-back",
      "label": "back text",
      "default": "back"
    }
  ]
}
{% endschema %}
